{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
    
    <h3><strong>Utilisateur</strong></h3>
    <hr class="my-4">
    

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.firstname }} {{ user.lastname }}</h5>
            {% for role in user.roleLabels %}
                <p class="text-muted mb-1">{{ role }}</p>
            {% endfor %}
           
          </div>
        </div>

        <div class="card mb-4 ">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Inscrit le :</p>
                <p class="mb-0">{{ user.createdAt|date('d/m/Y H:i') }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Mis à jour le :</p>
                <p class="mb-0">{{ user.updatedAt|date('d/m/Y H:i') }}</p>
              </li>
            </ul>
          </div>
        </div>

        

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">

            <ul class="list-group list-group-flush rounded-3">
            {% if user.userIsParentOfs|length > 0 %}
                <p class="mb-0 p-3 border-bottom">Parent de :</p>
            {% for relation in user.userIsParentOfs %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <p class="mb-0">{{ relation.child.firstname }} {{ relation.child.lastname }}</p>
                    <a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('show')
                        .setEntityId(relation.child.id)
                    }}" class="btn btn-primary btn-sm">Voir</a>
                </li>
            {% endfor %}
            {% endif %}

            {% if user.userIsChildOfs|length > 0 %}
                <p class="mb-0 p-3 border-bottom">Enfant de :</p>
            {% for relation in user.userIsChildOfs %}
                
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <p class="mb-0">{{ relation.user.firstname }} {{ relation.user.lastname }}</p>
                    <a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('show')
                        .setEntityId(relation.user.id)
                    }}" class="btn btn-primary btn-sm">Voir</a>
                </li>
            {% endfor %}
            {% endif %}
            </ul>
        
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.firstname }} {{ user.lastname }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.phone ? user.phone : 'Non renseigné' }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date of Birth</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.birthdate ? user.birthdate|date('d/m/Y') : 'Non renseignée' }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                {# <div class="card text-center shadow-sm" style="width: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Progression</h5>

                        <svg viewBox="0 0 36 36" width="120" height="120">
                        <!-- Cercle de fond -->
                        <path
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                            fill="none"
                            stroke="#e9ecef"
                            stroke-width="3"
                        />

                        <!-- Cercle de progression -->
                        <path
                            stroke-dasharray="70, 100" 
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                            fill="none"
                            stroke="#0d6efd"
                            stroke-width="3"
                        />

                        <!-- Texte au centre -->
                        <text x="18" y="20.35" text-anchor="middle" font-size="8" fill="#212529">70%</text>
                        </svg>
                    </div>
                </div> #}






              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    



{% endblock %}